*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    font: normal normal bold 2.438rem/3.125rem Trebuchet MS;
    letter-spacing: 0.049rem;
    color: #389CD6;
    opacity: 1;
}

p {
    text-align: center;
    font: normal normal normal 1.25rem/1.75rem Trebuchet MS;
    letter-spacing: 0.025rem;
    color: #7B7070;
    opacity: 1;
}

a {
    text-decoration: none;  
    cursor: pointer;
}

ul {
    list-style: none;
}

i{
    width: 1.5rem;
    text-align: center;
}

#brand{
    position: relative;
    height: 5rem;
    position: relative;
    box-shadow: 0px 4px 16px #00000014;
}

.menuImg{
    position: relative;
    display: none;
}

.closeImg{
    position: relative;
    display: none;    
}


#brandImg{
    position: absolute; 
    top: 0rem;
    left: 30rem;
    width: 12.188rem;
    height: 4.938rem;
    opacity: 1; 
}
 
#search{
    position: absolute; 
    top: 1.75rem;
    left: 75%;
    width: 1.5rem;
    height:  1.5rem;
}

#divNavBarMobile{
    position: absolute;
    top: 4.375rem;
    left: 0rem;
    z-index: 1;
    width: 100%;
    background: #389CD6 0% 0% no-repeat padding-box; 
    
}

#ulNavBarMobile{
    width: 12.438rem;
    height: 100%;
    margin-top: 2.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.optionMobile{
    padding-top:0.938rem;
    padding-bottom: 0.813rem;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: left;
    font: normal normal bold 16px/22px Trebuchet MS;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
}

.optionMobile:active{
    color: #cacbcb;
}

#divNavBar{
    height: 3.0625rem;
    background: #389CD6 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

#navOptions{
    display: flex;
}

#subAbout{
    display: none;
    position: absolute;
    top: 8rem;
    left: -15rem;
    width: 120.6rem;
    height: 3.063rem;
    background: #9D8E8E 0% 0% no-repeat padding-box;
}

#about:hover #subAbout{
    display: block;
}

#subProduct{
    display: none;
    position: absolute;
    top: 8rem;
    left: -15rem;
    width: 120.6rem;
    height: 3.063rem;
    background: #9D8E8E 0% 0% no-repeat padding-box;
}

#product:hover #subProduct{
    display: block;
}

#subIntimate{
    display: none;
    position: absolute;
    top: 8rem;
    left: -15rem;
    width: 120.6rem;
    height: 3.063rem;
    background: #9D8E8E 0% 0% no-repeat padding-box;
}

#intimate:hover #subIntimate{
    display: block;
}

.ulSubNavBar{
    display: flex;
    margin-left: 24.375rem;
}

.option{
    font: normal normal normal 20px/28px Trebuchet MS;
    display: flex;
    align-items: center;
    width: 11.875rem;
    height: 3rem;
    margin-right: 1.25rem;
    opacity: 1;
    color: white;
}

#bannerHero{
    height: 34.375rem;
    background: transparent url('./img/banner-hero.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 100%;
}

#h2Help{
    width: 22.5rem;
    height: 2.875rem;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
}

#divHelp{
    width: 34.375rem;
    height: 15.688rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
}

#divIcons{
    margin-left: auto;
    margin-right: auto;
    width: 70.75rem;
    height: 16.188rem;
    margin-bottom: 5rem;
    background: transparent url('./img/icons.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#h2Life{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 46.5rem;
    height: 6rem;
}

#divLife{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.5rem;
    width: 46.5rem;
    height: 9.438rem;
}

#h2Products{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    height: 2.875rem;
}

.h2Products{
    width: 22.25rem;
    height: 21.938rem;
    opacity: 1;
}

#groupCard{
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: center;
}

.cardProd{
    display: inline-block;
    margin-left: 2.063rem;
    width: 22.25rem;
    height: 33.125rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000014;
    border-radius: 1;
    opacity: 1;
}

.textCard{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.foCard{
    width: 22.25rem;
    height: 4.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    opacity: 1;
    color: var(--white);
    font: normal normal bold 25px/36px Trebuchet MS;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-transform: lowercase;
}

.foCard.blue{
    background: #389CD6 0% 0% no-repeat padding-box;
}

.foCard.green{
    background: #309D5F 0% 0% no-repeat padding-box;
}

.foCard.red{
    background: #EE6381 0% 0% no-repeat padding-box;
}

#imgInt{
    background: transparent url('./img/Asset\ 22.png') 0% 0% no-repeat padding-box;
    height: 27.313rem;
    background-size: 100%;
    
}

#divMore{
    width: 73.438rem;
    height: 40rem;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.5rem;
}

#h2More{
    margin-top:7.5rem;
    margin-bottom:5rem ;
}

.cardMore{
    display: inline-block;
    width: 22.25rem;
    height: 22.188rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000014;
    border-radius: 1rem;
    opacity: 1;
    margin-left: 2rem;
}

.textCardMore{
    width: 18.25rem;
    height: 3.188rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3.125rem;
    text-align: left;
    font: normal normal normal 20px/28px Trebuchet MS;
    letter-spacing: 0.025rem;
    color: #7B7070;
    opacity: 1;
}

#button{
    margin-left: 25.688rem;
    margin-top: 5.313rem;
    width: 22.25rem;
    height: 4rem;
    background: #389CD6 0% 0% no-repeat padding-box;
    border-radius: 1rem;
    font: normal normal bold 20px/28px Trebuchet MS;
    letter-spacing: 0.025rem;
    color: #FFFFFF;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactFoot{
    position: relative;
    background: #389CD6 0% 0% no-repeat padding-box;
    padding-top: 2.563rem;
    padding-bottom: 4rem;
}

#groupNavFoot{
    display: flex;
    justify-content: center;
}

#navBarFoot{
    display: flex;
}

.optionFoot{
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.938rem;
    padding-bottom: 0.813rem;
    text-align: center;
    font: normal normal bold 16px/22px Trebuchet MS;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    opacity: 1;
}

.spaceFoot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    font: normal normal bold 16px/22px Trebuchet MS;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
}

.spaceBarFoot{
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    font: normal normal bold 16px/22px Trebuchet MS;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
}

#groupNavImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.813rem;
}

#imgLab{
    width: 7.25rem;
    height: 1.813rem;
    margin-right: 42rem;
}

#imgSocial{
    width: 2.688rem;
    height: 2.688rem;
}


.hide{
    display: none;
}


@media screen and (max-width: 500px) { 
    h2{
        text-align: center;
        font: normal normal bold 31px/40px Trebuchet MS;
        letter-spacing: 0.62px;
        color: #389CD6;
    }
    
    p {
        text-align: center;
        font: normal normal normal 16px/22px Trebuchet MS;
        letter-spacing: 0.32px;
        color: #7B7070;
    }
    
    #divNavBar{
        display: none;
    }

    #brand{
        height: 4.375rem;
    }

    #brandImg{
        top: 0.375rem;
        left: 8.938rem;
        height: 3.625rem;
    }

    #search{
        top: 1.438rem;
        left: 23.375rem;
        height: 1.5rem;
    }

    .menuImg{
        display: inline-block;
        top: 1.438rem;
        left: 1.875rem;
        height: 1.5rem;
    }
    
    .closeImg{
        top: 1.563rem;
        left: 2rem;
        height: 0.938rem; 
    }

    #bannerHero{
        height: 29.688rem;
        background: transparent url('./img/mobile/banner-intibiome-02.png') 0% 0% no-repeat padding-box;
        background-size: 100%;
    }

    #h2Help{
        height: 2.25rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        font: normal normal bold 31px/40px Trebuchet MS;
        letter-spacing: 0.039rem;
    }

    #divHelp{
        width: 24.5rem;
        height: 12.813rem;
        font: normal normal normal 16px/22px Trebuchet MS;
        letter-spacing: 0.02rem;
    }

    #divIcons{
        margin-bottom: 2.5rem;
        width: 24.5rem;
        height: 7.563rem;
        background-image: url('./img/mobile/icons.png');
    }

    #h2Life{
        margin-bottom: 2.5rem;
        width: 24.5rem;
        height: 7.25rem;
    }

    #divLife{
        margin-bottom: 5rem;
        width: 24.5rem;
        height: 10.438rem;      
    }

    #h2Products{
        width: 24.5rem;
        height: 2.25rem;
        margin-bottom: 2.5rem;
    }

    #groupCard{
        flex-direction: column;
        align-items: center;
    }

    .cardProd{
        margin-left: 0rem;
        margin-bottom: 2rem;
    }

    .textCard{
        text-align: center;
        font: normal normal normal 20px/28px Trebuchet MS;
        letter-spacing: 0.4px;
        color: #7B7070;
        opacity: 1;
    }

    #imgInt{
        background-image: url('./img/mobile/banner-intibiome-05.png');
        height: 29.375rem;
        background-size: 100%;

    }

    #divMore{
        margin-bottom: 5rem;
        width: 24.5rem;
        height: 100%;
    }

    #h2More{
        height: 4.75rem;
        margin-top:2.5rem;
        margin-bottom:2.5rem;
    }

    .cardMore{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    #button{
        width: 24.5rem;
        height: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;
    }

    #contactFoot{
        height: 100%;
        padding-top: 2rem;
    }

    #groupNavFoot{
        margin-left: auto;
        margin-right: auto;
        height: 45.875rem;
    }

    #navBarFoot{
        flex-direction: column;
    }

    .spaceFoot{
        display: none;
    }

    .spaceBarFoot{
        display: flex;
        margin: auto;
    }

    #groupNavImg{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 3.813rem;
    }

    #imgLab{
        margin-right: 0rem;
    }

    #imgSocial{
        margin-bottom: 6.776rem;
    }

 }
